@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Playfair Display", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-moz-selection {
  color: #fff;
  background: #7431f4;
}

::selection {
  color: #fff;
  background: #7431f4;
}

.MuiFormControl-root .MuiInputBase-root {
  border: 1px solid white;
  color: white !important;
}

.MuiFormControl-root .MuiFormLabel-root {
  color: #a8a8a8;
  font-family: "Playfair display";
}

.MuiFormControl-root .Mui-focused {
  border: none;
}

.MuiFormControl-root svg {
  color: #a8a8a8;
}

input[type="radio"] {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  padding: 0;
  margin-right: 10px;
  display: grid;
  place-content: center;
}
input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #7431f4;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

@layer components {
  .title {
    @apply text-[32px] sm:text-[36px] text-white;
  }
  .subtitle {
    @apply text-[20px] sm:text-[24px] text-gray;
  }
  label {
    @apply text-[18px] sm:text-[20px] text-white;
  }
  input {
    @apply text-[20px] text-white border-2 border-gray px-[20px] outline-0 bg-transparent w-full max-w-[400px] h-[55px];
  }

  .small {
    @apply text-[16px] text-gray;
  }

  .button {
    @apply flex items-center justify-center bg-white text-black text-[20px] text-center w-full max-w-[400px] h-[55px] font-medium duration-150 ease-linear hover:bg-purple hover:text-white;
  }
}
